.play-container {
  padding: 3em;
  border: 2px solid rgb(111, 0, 255);
  margin-bottom: 2em;

  input {
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid rgb(111, 0, 255);
  }

  span {
    background: lightgrey;
    padding: 0.5em;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
  }
}

.greenBlue {
  background-color: green;
  border: solid 2px blue;
}

.redYellow {
  background-color: red;
  border: solid 2px yellow;
}
